body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}

div.post-heading.text-center {
    font-weight: 700 !important;
}

.offset:before {
    content: "";
    height: 6rem;
}

.navbar {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.2rem;
    background: #eeeeee!important;
    padding: 20px 0;
}

.navbar-dark .navbar-nav .nav-link {
    color: #283149;
    padding: 20px;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
}


.heading-content {
    position: absolute;
    top: 45%;
    width: 100%;
    max-width: 100%;
}

.heading-content h5 {
    font-size: 4em;
    font-weight: 300;
    color: #0881a3;
    font-family: monospace;
}

.heading-content h1 {
    font-size: 5em;
    font-weight: bolder;
    color: #222831;
    font-family: 'Montserrat', sans-serif;
}

/*************** Portfolio ******************/

.btn {
    background-color: #0881a3;
    border: none;
}

.card img {
    max-width: 100%;
    min-height: 100px;
}

/*************** Footer ******************/
.page-footer {
    background: #eeeeee;
}

.icon {
    color: #0881a3;
}

.footer-copyright {
    color: #0881a3;
}

/*************** Media Queries ******************/
@media screen and (max-width: 767px) {
    .navbar {
        letter-spacing: 0.1rem;
        padding: 10px 0;
    }

    .heading-content h5 {
        font-size: 3em;

    }

    .heading-content h1 {
        font-size: 3em;
    }
}

@media screen and (max-width: 320px) {
    .navbar {
        letter-spacing: 0.1rem;
        padding: 7px 0;
    }

    .heading-content h5 {
        font-size: 3em;
    }
        
    .heading-content {
    position: absolute;
    top: 20%;
    width: 100%;
    max-width: 100%;
    }
    div.post-heading.text-center {
        width: 95%;
    }
}
